/* EmailData.css */
.email-data-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .dropdown-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  
  .foundation-dropdown {
    width: 100%;
    max-width: 300px;
  }
  
  .emails-table .p-datatable-thead > tr > th {
    padding: 10px;
  }
  
  .emails-table .p-datatable-tbody > tr > td {
    padding: 10px;
  }
  